// global grid setttings
$grid-cols-amount: 18;

// content space
$grid-content-start-columns: 2 2 2;
$grid-content-end-columns: 18 12 9; // small, medium, large


$grid-horizontal-padding: 10px 30px; // small, large
