@import "../settings/zindex.scss";
@import "../settings/sizes.scss";
@import "../settings/borders.scss";
@import "../settings/fonts.scss";

aside#rs-wrapper {
	z-index: $zindex4;
	position: fixed;
	top: 0;
	pointer-events:auto;
	height: 100vh;
	border-right: $nav-border-width solid $nav-border-color;
	background-color: $darkgray-1;
	transition: background-color .15s;

	&:hover {
		background-color: $darkgray-0 !important;
	}


	// nav#TableOfContents {
	// 	position: absolute;
	// 	top: 0;
	// 	display: inline-block;
	// 	margin-top: $offset-1;
	// 	height: 100%;
	// 	width: 100%;

	// 	a {
	// 		text-decoration: none;
	// 		color: $white;
	// 		font-family: $toc-link-font;
	// 		font-weight: $toc-link-font-weight;
	// 	}

	// 	ul {
	// 		padding-left: $offset-1;
	// 		padding-top: $offset-2;

	// 		li { // toc h1 title
	// 			padding-bottom: $offset-1;

	// 			a {
	// 				font-size: $toc-link-h1-size;
	// 				display: block;
	// 			}

	// 			ul {
	// 				li { // toc h2 title
	// 					a {

	// 					}
	// 				}
	// 			}

	// 		}
	// 	}
	// }

	button#rs-toggle {
		position: relative;
		text-transform: uppercase;
		width: 40px;
		height: 100%;
		color: $type-color;
		white-space: pre;
		display: inline-block;
		background: none;
		border: none;
		border-right: 1px solid $darkgray-2;
		border-left: $nav-border-width solid $nav-border-color;

		padding: 0;
		float: left;

		&:focus {
			outline: 0;
		}

		span#rs-toggle-label {
			position: absolute;
			transform-origin: left 0;
			transform: rotate(-90deg) translateY(-50%);
			top: 57%;
			left: 50%;

		}
	}
}

div#reading-progress-bar {
	position: absolute;
	z-index: $zindex4;
	z-index: 1000;
	width: 100%;
	height: 4px;
	background-color: $gray-4;
}

